HTML

<!DOCTYPE html>
<html>
<head>
    <title>{{ titulo }}</title>
</head>
<body>
    <h1>{{ titulo }}</h1>
    {% if form %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Salvar</button>
        </form>
    {% endif %}

    <h2>Cães-Guia Cadastrados:</h2>
    <ul>
        {% for cao in caes_cadastrados_mdb %}
            <li>
                ID do Cão: {{ cao.id_cao }} -
                Velocidade: {{ cao.velocidade_caminhada }} -
                Altura: {{ cao.altura }} -
                Peso: {{ cao.peso }} -
                Sexo: {{ cao.sexo }}
            </li>
        {% endfor %}
    </ul>
    
    {% if text %}
        <p>{{ text }}</p>
    {% endif %}
</body>
</html>